# Base DN
LDAP_DOMAIN=sandbox.local
LDAP_ORGANIZATION=Sandbox
LDAP_BASE_DN=dc=sandbox,dc=local
LDAP_ADMIN_PASSWORD=admin
LDAP_CONFIG_PASSWORD=config

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_DB_PASSWORD=keycloak
KC_REALM=sandbox
